*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
   

}







header  {
    
    background:rgb(255, 255, 255); 
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    

}  

header span a{
    padding: px;

    font-size: 80px;
    color: rgb(63, 59, 59);
    text-shadow: 2px 2px 2px rgb(18, 164, 201);

    text-decoration: none;
    
}

header ul{ 

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px;;
}



header ul li{
padding: 2px;
list-style-type: none;




}

header ul li a{
   
    display: block;
    
    font-size: 25px;
    text-decoration: dotted;

}



header ul li a:hover{

    background-color: rgb(34, 101, 177);
    color: white;
    

   
}












main{

    
    

    
}

div{
background-color: cadetblue;

display: flex;
flex-direction: column;

    
    
    
    
}





div h1{

    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color:  rgb(255, 255, 255);
}





h2{

    font-size: 50px;
}


div img{

    padding: 5px;

    width: 80%;
    align-self: center;
}

div p{

text-align: center;

padding-top: 20px;
font-style: italic;
font-size: 20px;

}

div video{

    padding: 5px;

    width: 80%;
    align-self: center;
}


footer{

    background-color: black;

    display: flex;
    justify-content: space-between;


}

footer p{


    color: aliceblue;

    padding: 20px;
}
